.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.array-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.bar {
	margin: 1px;
	width: 2px;
	background-color: pink;
}
