.array-container {
	display: flex;
	justify-content: center;
}

.bar {
	margin: 1px;
	width: 10px;
	background-color: orange;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
	padding: 25px;
}

header input {
	margin-left: 5px;
}

header button {
	margin: 0 25px;
}
